body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

iframe {
    border: 0;
}

#difficulty-display {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    font-family: monospace;
    font-size: 16px;
    z-index: 10;
}